@media (max-width: 1000px) {

    body {
        background-image: url(imagens/bg-mobile.svg);
    }

    .main {
        min-width: 375px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .header .logo img {
        min-width: 150px;

    }

    .main img {
        min-width: 250px;
        align-items: center;
        justify-content: center;
        padding-bottom: 40px;
    }

    .main .info a {
        text-align: center;
        margin-bottom: 30px;
    }

    footer {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .main .info h2 {
        font-size: 25px;
        align-self: center;
    }

    .main .info p {
        font-size: 15px;
        text-align: justify-all;
    }

    .main .info a {
        align-self: center;
    }

    footer {
        padding-left: 30px;
    }
}